* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 50rem;
}

iframe {
    width: 100%
}