* {
    margin: 0;
    padding: 0;
}



.phone {
    background-color: #d4d4d4;
    margin-top: 500px;
    margin: auto;
    width: 300px;
    height: 550px;
    border: 5px solid black;
    border-radius: 20px;
    justify-items: center;
}

.nav-bar ul {
    border-radius: 15px;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #a37c7c;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 200;

}

.menu {
    margin-top: 10px;
    background-color: #ac9b9b;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: top;
    height: 500px;
    border-radius: 0 0 16px 16px;
}

.head {
    background-color: #a37c7c;
    height: 70px;
    width: 100%;
    padding-top: 15px;
    justify-items: center;
}

img {
    width: 300px;
    object-fit: contain;
}

.square-container {
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 211px;
    display: flex;
    justify-content: space-around;
}

.squares {
    background-color:#a37c7c;
    width: 130px;
    height: 170px;
}




