:root{
    --main-color: #865126;
    --secondary-color: #caa88b;
}

body {
    background-color: #dddada;
}

* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
    height: 50px;
    justify-content: center;
    align-items: center;
}
nav li {
    width: 10%;
    list-style: none;
}
nav a{
    justify-content: space-around;
    text-decoration: none;
    color: #ffe4c4;
}

.title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 55px;
}

.subtitle {
    margin-bottom: 80px;
    text-align: center;
    font-size: 22px;
}

.grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      max-width: 1300px;
      margin: auto;
      background-color: var(--secondary-color);
    }

.grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#Lugares {
    background-color: var(--secondary-color);
    padding-top: 55px;
    padding-bottom: 55px;
}

table {
    margin: auto;
}

.AgendaTitle {
    text-align: center;
    margin-bottom: 20px;
}

#Agenda {
    padding-top: 50px;
}

td {
    padding: 10px;
}

th {
    padding: 5px;
}

#Reservas {
    text-align: center;
    font-size: 20px;
}
label {
    font-size: 18px;
}
input {
    font-size: 18px;
}

textarea {
    resize: none;
    font-size: 18px;
}

fieldset {
    margin: auto;
    width: 50%;
    border: 5px solid var(--main-color);
    background-color: var(--secondary-color);
}

button {
    font-size: 18px;
    border: 5px solid var(--main-color);
    padding: 5px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    margin: 0px 50px 0 50px;
}

button:hover {
    background-color: var(--main-color);
}


#Contato {
    background-color: var(--main-color);
    text-align: center;
    margin-top: 50px;
    height: 100px;
    color: var(--secondary-color);
}

footer {
    text-align: center;
    background-color: var(--main-color);
}

footer a {
    color: var(--secondary-color);
}

footer a:hover {
    color: #dddada;
}

