* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.main-page {
    overflow: hidden;
    height: 100vh;
    width: 80vw;
    margin: auto;
    background: radial-gradient(#d1b382, #947749) ;
}


.text {
    text-align: justify;
    margin: auto;
    font-size: 25px;
    width: 60%;
    padding: 50px;
    border: 4px solid black;
    border-bottom: none;
    border-top: none;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.1);
}

h1 {
    color: #4b0211;
    text-shadow: 3px 3px 5px rgba(41, 1, 1, 0.5); 
    text-align: center;
    width: 100%;
    padding-top: 50px;
}

.hat {
    background-color: #553e1a;
    margin: auto;
    width: 120px;
    height: 80px;
    border: 4px solid black;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hat-line {
    background-color: #553e1a;
    margin: auto;
    width: 180px;
    height: 10px;
    border: 4px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}

.face {
    z-index: 2;
    background-color: #e0ccab;
    position: relative;
    margin: auto;
    width: 120px;
    height: 100px;
    border-radius: 0px 0px 50px 50px;
    border: 4px solid black;
    border-top: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.neck {
    z-index: 1;
    background-color: #e0ccab;
    position: relative;
    margin: auto;
    width: 80px;
    height: 50px;
    border: 4px solid black;
    border-top: none;
    top: -10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.hatman-container {
    margin: auto;
    border: 5px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.main-page {
    height: auto;
}

.hint {
    display: inline-block; 
    cursor: help;          
    margin-right: 5px;
}